[submodule ".config/nvim/pack/plugins/start/FixCursorHold.nvim"]
	path = .config/nvim/pack/plugins/start/FixCursorHold.nvim
	url = https://github.com/antoinemadec/FixCursorHold.nvim.git
[submodule ".config/nvim/pack/plugins/start/goyo.vim"]
	path = .config/nvim/pack/plugins/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule ".config/nvim/pack/plugins/start/limelight.vim"]
	path = .config/nvim/pack/plugins/start/limelight.vim
	url = https://github.com/junegunn/limelight.vim.git
[submodule ".config/nvim/pack/plugins/start/vim-fugitive"]
	path = .config/nvim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".config/nvim/pack/plugins/start/vim-emoji"]
	path = .config/nvim/pack/plugins/start/vim-emoji
	url = https://github.com/junegunn/vim-emoji.git
[submodule ".config/nvim/pack/plugins/start/vim-gitgutter"]
	path = .config/nvim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".config/nvim/pack/plugins/start/vim-hexokinase"]
	path = .config/nvim/pack/plugins/start/vim-hexokinase
	url = https://github.com/RRethy/vim-hexokinase.git
[submodule ".config/nvim/pack/plugins/start/vim-surround"]
	path = .config/nvim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".config/nvim/pack/plugins/start/vim-instant-markdown"]
	path = .config/nvim/pack/plugins/start/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown.git
[submodule ".config/nvim/pack/plugins/start/i3-vim-syntax"]
	path = .config/nvim/pack/plugins/start/i3-vim-syntax
	url = https://github.com/PotatoesMaster/i3-vim-syntax
[submodule ".config/nvim/pack/plugins/start/nvim-colorizer.lua"]
	path = .config/nvim/pack/plugins/start/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule ".config/nvim/pack/plugins/start/nvcode-color-schemes.vim"]
	path = .config/nvim/pack/plugins/start/nvcode-color-schemes.vim
	url = https://github.com/ChristianChiarulli/nvcode-color-schemes.vim
[submodule ".config/nvim/pack/plugins/start/nvim-treesitter"]
	path = .config/nvim/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
