! special
*.foreground:   #d0ddd4
*.background:   #151515
*.cursorColor:  #d0ddd4

! black
*.color0:       #080808
*.color8:       #0e0e0e

! red
*.color1:       #c13434
*.color9:       #c13939

! green
*.color2:       #646a2f
*.color10:      #73813a

! yellow
*.color3:       #c97941
*.color11:      #c28a59

! blue
*.color4:       #495c6d
*.color12:      #6892b6

! magenta
*.color5:       #6d4f77
*.color13:      #b062c7

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #d7dcd9
*.color15:      #dae1ea
