! special
*.foreground:   #d0ddd4
*.background:   #131111
*.cursorColor:  #d0ddd4

! black
*.color0:       #24282d
*.color8:       #24282e

! red
*.color1:       #822a2a
*.color9:       #ac7070

! green
*.color2:       #646a2f
*.color10:      #73813a

! yellow
*.color3:       #c97941
*.color11:      #e8c581

! blue
*.color4:       #495c6d
*.color12:      #6892b6

! magenta
*.color5:       #6d4f77
*.color13:      #b062c7

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #d7dcd9
*.color15:      #dae1ea
