! Muh custom colorscheme
!! special
!*.foreground:   #d0ddd4
!*.background:   #151515
!
!! black
!*.color0:       #080808
!*.color8:       #0e0e0e
!
!! red
!*.color1:       #c13434
!*.color9:       #c13939
!
!! green
!*.color2:       #646a2f
!*.color10:      #73813a
!
!! yellow
!*.color3:       #c97941
!*.color11:      #c28a59
!
!! blue
!*.color4:       #495c6d
!*.color12:      #6892b6
!
!! magenta
!*.color5:       #6d4f77
!*.color13:      #b062c7
!
!! cyan
!*.color6:       #5e8d87
!*.color14:      #8abeb7
!
!! white
!*.color7:       #d7dcd9
!*.color15:      #dae1ea
! everforest
!*.foreground:   #d8caac
!*.background:   #323d43
!*.cursorColor:  #d8caac
!*.color0:       #868d80
!*.color8:       #868d80
!*.color1:       #e68183
!*.color9:       #e68183
!*.color2:       #a7c080
!*.color10:      #a7c080
!*.color3:       #d9bb80
!*.color11:      #d9bb80
!*.color4:       #89beba
!*.color12:      #89beba
!*.color5:       #d3a0bc
!*.color13:      #d3a0bc
!*.color6:       #87c095
!*.color14:      #87c095
!*.color7:       #d8caac
!*.color15:      #d8caac
! TokyoNight colors for Xresources
*background: #1a1b26
*foreground: #c0caf5
*color0: #15161E
*color1: #f7768e
*color2: #9ece6a
*color3: #e0af68
*color4: #7aa2f7
*color5: #bb9af7
*color6: #7dcfff
*color7: #a9b1d6
*color8: #414868
*color9: #f7768e
*color10: #9ece6a
*color11: #e0af68
*color12: #7aa2f7
*color13: #bb9af7
*color14: #7dcfff
*color15: #c0caf5
